{% extends 'base.html' %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About page</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this about page template</p>
            </div>
        </div>
    </header>

    <!-- Content-->
     <br><br>
     <div class="container">
        <div class="row">
            <center>
            <div class="col-8">
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit diam ac enim porttitor consectetur. Sed egestas dolor pretium placerat finibus. Donec bibendum finibus neque ac tempus. Donec gravida nulla a felis facilisis facilisis. Quisque vel ex scelerisque, gravida mi vitae, tincidunt tortor. Nullam ut ligula nisl. Aliquam at augue ac purus posuere consequat. Aenean purus nibh, porttitor ac est sed, convallis pretium enim.

                    Phasellus maximus quam eu magna ultrices, in ullamcorper ante mattis. Duis sit amet faucibus nunc. Etiam fermentum sollicitudin porttitor. Nulla aliquet nunc sed ex iaculis, id suscipit nunc commodo. Quisque vitae interdum sem. Quisque pellentesque tortor sed massa euismod, at mollis enim consequat. Nunc et tempor tellus. Morbi ultricies ligula purus, ac bibendum tellus viverra pulvinar. Suspendisse consequat erat nec tortor auctor congue. In sit amet iaculis lorem. Maecenas eu convallis neque. Phasellus est orci, molestie nec imperdiet a, ullamcorper vel augue.

                    Donec at purus in sem mattis lobortis. Vestibulum pharetra vestibulum leo a mattis. Sed ut tristique nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer scelerisque urna lectus, id cursus elit dictum ut. Nullam lacus lectus, aliquet et velit id, pulvinar aliquam augue. Nullam fringilla faucibus lorem, vitae tristique odio scelerisque quis. Quisque consequat non leo vitae venenatis. Nunc pharetra dui at odio congue, suscipit molestie massa efficitur.

                    Etiam nec sapien quis odio eleifend tempor. Vestibulum pretium tellus eget leo dictum mattis. Vestibulum eget suscipit ligula. Sed dapibus, lectus ullamcorper gravida ultrices, lorem libero placerat purus, eu tempus nisl nunc sit amet quam. Pellentesque a sem et justo convallis scelerisque semper ut lectus. Ut faucibus euismod auctor. Integer euismod ultrices lorem, id egestas metus euismod pharetra. Phasellus lacus mauris, porta non quam eget, euismod pulvinar mi. Praesent consequat sagittis metus, in tincidunt enim pretium hendrerit. In non fermentum nibh, at luctus nulla. Maecenas ut nunc quis justo dictum eleifend. Duis commodo tellus odio, eget tristique neque iaculis ut. Nullam ligula arcu, tincidunt eu efficitur nec, maximus id nisi. Praesent bibendum vehicula nibh a tempor. Praesent vitae lacus nulla. Suspendisse euismod hendrerit eros, eget vulputate nulla egestas quis.

                    Donec eget ante odio. Ut vehicula sodales augue, ac gravida leo luctus id. Etiam sed rhoncus enim. Nulla porta leo quam, sit amet feugiat libero venenatis imperdiet. Nulla faucibus mi eu risus faucibus, sed consectetur turpis accumsan. Nam in laoreet leo, ac malesuada leo. Sed commodo maximus nisi, a pellentesque libero ullamcorper ac. Quisque arcu ipsum, varius vel sem euismod, maximus bibendum metus. Aenean varius varius quam, sed interdum ante pulvinar ac. Nullam volutpat placerat accumsan. Duis et mauris magna. Integer eleifend lectus et massa imperdiet sodales.
                </p>
            </center>
            </div>
        </div>
     </div>

     <br><br>

{% endblock %}
       