{% extends 'base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Treatment Facilities</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Input Here!</p>
                </div>
            </div>
        </header>      
        <br><br>
        <div class="container">
            <a class="btn btn-outline-primary btn-sm" href="{% url 'mtf' %}" role="button"><i class="bi bi-skip-backward-circle"></i> BACK</a>
            <br><br>
            <div class="row">
                <div class="card" style="width: 100rem;">
                <div class="card-body">
                    <h5 class="card-title">New Military Treatment Facility</h5>
                    <p class="card-text">Input new MTF here</p>
                        <form  method="POST" action="{% url 'createMtf' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="text" class="form-control"  aria-describedby="emailHelp" name="mtfCode" placeholder="MTF Code" required>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control"  aria-describedby="emailHelp" name="mtfName" placeholder="MTF Name" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
       <br><br>
{% endblock %}
       