{% extends 'base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">List of Applicants</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Database</p>
                </div>
            </div>
        </header>
       
            <br><br>
         <div class="container shadow-sm p-3 mb-5 bg-white rounded">
                    
                <!-- Tables-->
                    <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">CODE</th>
                        <th scope="col">ID</th>
                        <th scope="col">LAST NAME</th>
                        <th scope="col">FIRST NAME</th>
                        <th scope="col">PURPOSE</th>
                        <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for applicant in applicant %}
                        <tr>
                        <td>{{ applicant.pc }}</td>
                        <td>{{ applicant.id }}</td>
                        <td>{{ applicant.lastName }}</td>
                        <td>{{ applicant.firstName }}</td>
                        <td>{{ applicant.purpose }}</td>
                        <td>
                            <a class="btn btn-outline-secondary btn-sm" href="{% url 'updateRegistration' applicant.id %}" role="button">Update</a>
                            <a class="btn btn-outline-danger btn-sm" href="{% url 'deleteRegistration' applicant.id %}" role="button">Delete</a>
                        </td>
                        {% endfor %}
                    </tbody>
                    </table>
                    

                
           
       </div>
       <br><br>

{% endblock %}
       